body {
    background:#000000;
    margin:0;
    color:#cccccc;
    font: x-small "Trebuchet MS", Trebuchet, Verdana, Sans-serif;
    font-size/* */:/**/small;
    font-size: /**/small;
    text-align: center;
}
a:link {
    color:#99aadd;
    text-decoration:none;
}
a:visited {
    color:#aa77aa;
    text-decoration:none;
}
a:hover {
    color:#aadd99;
    text-decoration:underline;
}
a img {
    border-width:0;
}


/* Header
-----------------------------------------------
*/
#header-wrapper {
    width:1050px;
//margin:0 0 0 0;
//border:1px solid #333333;
}
#header-inner {
    background-position: left;
    margin-left: auto;
    margin-right: auto;
    width:1050px;
}
#header {
    margin: 0px;
//border: 1px solid #333333;
    text-align: center;
    color:#cccccc;
}
/*
#header h1 {
margin:5px 5px 0;
padding:15px 20px .25em;
line-height:1.2em;
text-transform:uppercase;
letter-spacing:.2em;
font: normal bold 160% 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}

#header h2 {
margin:5px 5px 0;
padding:15px 20px .25em;
line-height:1.2em;
text-transform:uppercase;
letter-spacing:.2em;
font: normal bold 180% 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}
*/
#header a {
    color:#cccccc;
    text-decoration:none;
}
#header a:hover {
    color:#cccccc;
}
#header .description {
    margin:0 5px 5px;
    padding:0 20px 15px;
    max-width:700px;
    text-transform:uppercase;
    letter-spacing:.2em;
    line-height: 1.4em;
    font: normal normal 78% 'Trebuchet MS', Trebuchet, Verdana, Sans-serif;
    color: #777777;
}
#header img {
    width:1050px;
    heght:140px;
}
#Header1_headerimg
{
    top:0px;
}

/* Outer-Wrapper
----------------------------------------------- */
#outer-wrapper {
    width: 1060px;
    margin:0 auto;
    /*padding:-15px;*/
    text-align:left;
    font: normal normal 100% 'Trebuchet MS',Trebuchet,Verdana,Sans-serif;
}
#main-wrapper {
    width: 1050px;
    float: left;
    word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
    overflow: hidden;     /* fix for long non-text content breaking IE sidebar float */
}
#sidebar-wrapper {
    width: 220px;
    float: right;
    word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
    overflow: hidden;     /* fix for long non-text content breaking IE sidebar float */
}
#wrap2
{
    /*top:-10px;*/
}

/* Upper menu
-----------------------------------------------
*/

#header {
    /*margin-bottom:-3em;*/
}

#upper_menu {
    display: block;
    padding: 0;
    padding-left:0;
    margin:  0;
    margin-bottom:2em;
    width: 1050px;
    height: 2em;
    position:absolute;
    text-decoration:none;
    align:left;
    left:float;
}

#upper_menu li a span{
    display: none;
    position: relative;
    text-decoration: none;
    align:center;
}

#upper_menu a {
    display: block;
    height:2em;
    margin:  0em 0em 0em 0em;
    position: relative;
    outline: none;
    text-decoration: none;
    align:center;
}

#upper_menu .upper_menu_item{
    font:normal normal 120% 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif;
    font-size:1.2em;
    color:#000000;
    padding: 0.3em;
    margin: 0;
    top:  0px;
    height: 1.5em;
    text-decoration:none;
    align:center;
}

#upper_menu .upper_menu_item:hover{
    color:#ffffff;
}

#upper_menu .upper_menu_item_current{
    font:normal normal 120% 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif;
    font-size:1.2em;
    color:#ffffff;
    padding: 0;
    margin: 0;
    top: 0px;
    height: 1.5em;
    text-decoration: none;
    align:center;
}

#upper_menu .upper_menu_item_current:hover{
    color:#000000;
}

/*
.upper_menu_item_current_cell
{
height=2em;
}
*/

/* Main menu
-----------------------------------------------
*/

#menu {
//list-style-type: none;
//display: block;
    text-decoration: none;
    padding: 0;
    margin:  0;
    /*width: 800px;*/
    width:100%;
    height: 2em;
    position: relative;
}

#menu li a span{
    display: none;
    position: relative;
    text-decoration: none;
}

#menu a {
    font:normal bold 110% 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif;
    font-size:1.2em;
    text-decoration: none;
    margin:  0em 0em 0em 0em;
//text-indent: -900%;
    position: relative;
    outline: none;
}

#menu .item{
    padding: 0.8em;
    margin: 0;
    top: 0px;
    align:center;
    font:$menu_item_font;
    text-decoration: none;
}

#menu .item:hover{
    color:#BA55D3;
}

#menu .item_current{
    padding: 0;
    margin: 0;
    top: 0px;
    height: 15px;
    /*width:  150px;*/
    align:center;
    font:normal bold 110% 'Trebuchet MS', Trebuchet, Arial, Verdana, Sans-serif;
    font-size:1.2em;
    text-decoration: none;
}

#menu .item_current:hover{
    color:#BA55D3;
}
/*
.menu_item_current_cell{
height=2em;
width=3em;
}
*/
/* Sub iframe design
-----------------------------------------------
*/
.left{
    float:left;
    width:150px;
}
.center{
    float:right;
    width:450px;
}
