.caption {
    width: 100%;
    height: 20px;
    background: #000;
    background: rgba(0,0,0,0.5);
    color: #fff;

    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

.kwick-panel {
    position: relative;
    float: left;
    width: 125px;
    height: 300px;
    margin-right: 5px;
}
.kwick1 { background: #53b388; }
.kwick2 { background: #5a69a9; }
.kwick3 { background: #c26468; }
.kwick4 { background: #bf7cc7; }

/* cancel margin on last kwick (if you set a margin above) */
.kwicks.horizontal .kwick4 { margin-right: none; }
/* cancel margin on last kwick (if you set a margin above) */
#basic .kwicks.vertical .kwick4 { margin-bottom: none; }

body { margin: 30px; }
input.num { width: 50px; }